<?xml version="1.0"?>
<!--
/*
 * @author digital.manufaktur GmbH
 * @link   https://www.digitalmanufaktur.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>

        <input-field type="bool">
            <name>accountMenuEnabled</name>
            <label>Enable account menu</label>
            <label lang="de-DE">Kundenkontomenu aktivieren</label>
        </input-field>
    </card>
</config>
